.centrar {
    width: 650px;
    height: 950px;
    margin: 10px auto;
    padding: 15px;
    background: rgba( 253, 251, 251, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-group {
    margin-top: 5px;
}